<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Especialistas</title>
</head>
<body>
<p align="center">FORMULARIO DE INGRESO DE DATOS PARA ESPECIALISTAS</p>
  <form method="POST" action="">{% csrf_token %}
        {{ formulario_ingreso_e.as_p }}
        <input type="submit" value="Guardar">
    </form>
</body>
</html>