<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Pacientes</title>
</head>
<body>
<p align="center">ESTA ES MI PRIMER TEMPLATE EN DJANGO</p>
    <form method="POST" action="">{% csrf_token %}
        {{ cualquiercosa.as_p }}
        <input type="submit" value="Guardar">
    </form>
</body>
</html>